*.exe
*.o
.DS_Store
.DS_Store?
*.exp
*.dll
*.ilk
*.lib
*.pdb
*.tlog
*.log
*.lastbuildstate
*.obj
*.idb
Extras*
*.opensdf
*.sdf
*.suo
ipch*
CMakeCache.txt
*CMakeFiles*
*.swp
*cmake_install.cmake
*.a
Testing*
